  <h1>Bienvenido al loging de Quora!</h1>
 

  <p> BIENVENIDO A TU PÁGINA WEB  </p>

  <p><%= session[:email] %> </p>
  <p><%= session[:user_name] %> </p>
  <p id="html"></p>

  <form id="registro" action="/register_temp" method="get">
    <br><input type="submit" value="Registrar!"> <br>

  </form>

  <form id="login" action="/login_temp" method="get">
    <br><input type="submit" value="Login!"> <br>
  </form>