<h2> Bienvenido a tu pagina Secreta <%= session[:user_name] %> </h2>

<br>
<br>
<h6> Puedes salir: </h6>
  <form id="logout" action="/logout" method="get">
    <br><input type="submit" value="Logout"> <br>

  </form>
